body{
    background-image: url("bg1.jpg"); 
    background-repeat:no-repeat;    
    background-position:center center ;   
    background-attachment: fixed;    
    background-size: cover;  
}

.menu{
    list-style-type:none;;
    padding-left: 0px;
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.menu li{
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}

.menu li a{
    text-decoration: none;
    color:black;
}

.menu li a:hover{
    color: #00abc9;
}

.contact{
    background-color: white;
    border: 1px white;
    width: 700px;
    height: 300px;
    border-radius: 3%;
    background-position: center center;
    margin: auto;
    opacity: 0.7;
    margin-top: 250px;
}

.contact:hover{
    opacity: 0.8;
}

.first{
    margin-left: 30px;
    padding-top: 10px;
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    padding: 40px;
}

.mail{
    width: 30px;
    margin-left: -200px;
    margin-top: 25px;
    transform: scale(1);
}

.mail:hover{
    transform: scale(1.1);
}

.mailtext{
    margin-left: 80px;
    margin-top: -26px;
    font-family: monospace;
    font-size: 15px;
}

a{
    text-decoration: none;
}

.fa{
    color:black;
    border-radius: 50%;
    font-size: 300%;
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;
    transform: scale(0.9);
}

.fa:hover{
    opacity: 0.7; 
    transform: scale(1.1);
} 

#instagram{
    margin-top: 10px;
    margin-left: 18px;
    margin-bottom: 20px;
    font-size: 40px;
}

#git{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 40px;
}

#socialmedia{
    text-align: center;
}

#fullmedia{
    text-align: center;
}



