body{
    background-image: url("bg1.jpg"); 
    background-repeat:no-repeat;    
    background-position:center center ;   
    background-attachment: fixed;    
    background-size: cover;  
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 100px;
}

.menu{
    list-style-type:none;;
    padding-left: 0px;
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.menu li{
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}

.menu li a{
    text-decoration: none;
    color:black;
}

.menu li a:hover{
    color: #00abc9;
}

.home{
    text-align: center;
    margin-top: 300px;
    font-family: monospace;
    padding: 0;
}

.country{
    font-size: 500%;
    margin-top: 15px;
}

a{
    text-decoration: none;
}

.fa{
    color:white;
    border-radius: 50%;
    font-size: 200%;
    margin-left: 15px;
    margin-top: 320px;
    text-align: center;
    transform: scale(0.9);
}

.fa:hover{
    opacity: 0.7; 
    transform: scale(1.1);
} 

#socialmedia{
    text-align: center;
    margin-right: 40px;
    padding: auto;
    margin-top: 90px;
}

.copy{
    color: white;
    margin-top: 40px;
    width: 30%;
}
